body {
	background-image: url("business.png");
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	font-family: 'Righteous', cursive;
}

.Transaction_Type {
	border-radius: 50px;
}

.transactions {
	font-size: 200%;
}

li {
	color: red;
	padding-top: 6px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
}
